---
import SquareButton from "@components/ui/squareButton.astro";

interface Props {
  title: string;
  subtitle: string;
  button: {
    label: string;
    to: string;
  };
  currentLang: string;
}

const { title, subtitle, button, currentLang } = Astro.props;
---

<div
  class="animate-revealY flex min-h-screen w-full flex-col items-center justify-center pt-14 pb-24 lg:pb-14 lg:opacity-0 lg:[animation-delay:2s]"
>
  <h1
    class="title text-center text-[max(16px,16.5333vw)] uppercase min-[448px]:text-[70px] md:text-[80px] lg:text-7xl xl:text-[max(16px,6vw)]"
  >
    {title}
  </h1>
  <p
    class="mx-auto mt-11 text-center text-[18px] md:text-[20px] lg:text-[22px] xl:text-[24px]"
  >
    {subtitle}
  </p>
  <SquareButton
    toLocal={button.to}
    lang={currentLang}
    label={button.to}
    color="white"
    styles="mt-10"
  >
    {button.label}
  </SquareButton>
</div>
