---
import type { GetStaticPaths } from "astro";
import en from "@i18n/ui/en";
import es from "@i18n/ui/es";
import { locales } from "@i18n/utils";
import GlobalLayout from "@layouts/globalLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

export const getStaticPaths = (async () => {
  const works = await getCollection("works");

  return Object.keys(locales).flatMap((locale) => {
    const filtered = works
      .filter((work) => work.id.startsWith(`${locale}/`))
      .map(({ id, data }) => ({
        id: id.split("/")[1],
        company: data.company,
        category: data.category,
        cover: data.cover,
      }));
    return {
      params: { lang: locale },
      props: { works: filtered },
    };
  });
}) satisfies GetStaticPaths;

const currentLang = Astro.currentLocale as keyof typeof locales;
const translations = { en, es };
const t = translations[currentLang]["works"];
const { works } = Astro.props;
---

<GlobalLayout title={t.title} description={t.description}>
  <main class="grid grid-cols-2 gap-4 md:gap-6 lg:grid-cols-4 lg:gap-8">
    {
      works.map(({ id, category, company, cover }, index) => (
        <a
          href={getRelativeLocaleUrl(currentLang, `works/${id}`)}
          style={`animation-delay:${index * 100}ms`}
          class="cards relative aspect-[1/1.5]"
        >
          <Image
            src={cover}
            alt={`${company} - ${category}`}
            transition:name={`${company} - cover`}
            loading={index < 8 ? "eager" : "lazy"}
            quality={90}
            class="size-full object-cover"
          />
          <div
            transition:name={`${company} - description`}
            class="absolute bottom-0 left-0 flex w-full flex-wrap items-center gap-x-1 p-2.5 text-white mix-blend-difference md:p-5"
          >
            <h3 class="title text-sm font-medium uppercase sm:text-base">
              {company}
            </h3>
            <p>·</p>
            <p class="font-title text-xs sm:text-sm">{category}</p>
          </div>
        </a>
      ))
    }
  </main>
</GlobalLayout>

<style>
  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
</style>

<script is:inline data-astro-rerun>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".cards");
    cards.forEach((card) => {
      const img = card.querySelector("img");

      img?.addEventListener("load", () => {
        card.classList.add("opacity-0");
        card.classList.add("animate-fadeIn");
      });
    });
  });
</script>
