---
import "../styles/global.css";
import "@fontsource-variable/lora";
import "@fontsource-variable/ibm-plex-sans";
import { getRelativeLocaleUrl } from "astro:i18n";
import { ClientRouter } from "astro:transitions";
import type { Locale } from "@i18n/utils";
import BtnOPen from "@components/nav/btnOPen.astro";
import Nav from "@components/nav/nav.astro";
import en from "@i18n/ui/en";
import es from "@i18n/ui/es";

interface Props {
  title?: string;
  description: string;
  monoLayout?: boolean;
}

const lang = Astro.currentLocale as Locale;
const { href, origin } = Astro.url;
const { title, description, monoLayout } = Astro.props;

const translations = { en, es };
const t = translations[lang]["nav"];

const siteTitle = "ANNE";
const pageTitle = [siteTitle, title].filter(Boolean).join(" | ");
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={href} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{pageTitle}</title>
    <ClientRouter />
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebPage",
        name: pageTitle,
        description: description,
        url: href,
        publisher: {
          "@type": "Organization",
          name: siteTitle,
          logo: {
            "@type": "ImageObject",
            url: `${origin}/favicon.ico`,
          },
        },
      })}
    />
  </head>
  <body>
    <div
      id="wrapper"
      class="h-screen w-full translate-y-0 transition-transform duration-500"
    >
      <header
        class="absolute top-0 left-0 z-10 px-[5vw] py-[clamp(20px,2%,30px)] mix-blend-difference md:px-[2vw]"
      >
        <a
          href={getRelativeLocaleUrl(lang, "/")}
          class:list={[
            "font-title text-lg font-medium md:text-xl xl:text-2xl",
            !monoLayout ? "text-black lg:text-white" : "text-black",
          ]}
        >
          {siteTitle}
        </a>
      </header>
      <slot />
    </div>
    <Nav
      lang={lang}
      linksTexts={t.links}
      followText={t.follow}
      languageText={t.language}
    />
    <BtnOPen closeText={t.close} openText={t.open} />
  </body>
</html>
